.container {
  margin: 0 auto;
  max-width: 900px;
  width: 80%;
}

main,
footer,
.nav-container {
  display: block;
  margin: 0 auto 10rem auto;
  max-width: 900px;
  width: 80%;
}

.nav {
  box-shadow: 0 2px 2px -2px $shadow-color;
  overflow: auto;

  &-container {
    margin: 2rem auto;
    position: relative;
    text-align: center;
  }

  &-title {
    @include transition(all .2s ease-out);
    color: 	#4d4d4d;
    display: inline-block;
    font-family: 'Cantata One', serif;
    text-transform: uppercase;
    margin: 0;
    padding-right: .2rem;
    font-size: 2rem;

    &:hover,
    &:focus {
      opacity: .6;
    }
  }

  ul {
    list-style-type: none;
    margin: 1rem 0 0;
    padding: 0;
    text-align: center;
  }

  li {
    @include transition(all .2s ease-out);
    color: $default-color;
    display: inline-block;
    opacity: .6;
    padding: 0 2rem 0 0;

    &:last-child {
      padding-right: 0;
    }

    &:hover,
    &:focus {
      opacity: 1;
      color: #4a9ae1;
      font-size: 1.5rem;
    }
  }

  a {
    color: #4a9ae1;
    font-family: $sans-serif;
  }
}

@media (min-width: 600px) {
  .nav {
    &-container {
      text-align: left;
    }

    ul {
      bottom: 0;
      position: absolute;
      right: 0;
    }
  }
}

.post_download {
  margin-top: 10rem;
  overflow: auto;
  font-size: .8rem;
  width: 50%;

  ul {
    list-style-type: none;
    text-align: right;
    clear: left;
    margin-right: 5rem;
  }

  li {
    @include transition(all .2s ease-out);
    color: $default-color;
    display: block;
    opacity: .6;
    line-height: 2rem;
    padding-right: .4rem;

    &:hover,
    &:focus {
      opacity: 1;
      color: #4a9ae1;
      padding-right: 0;
    }
  }

  a {
    color: #4a9ae1;
    font-family: $monospaced;
  }

  .download {
    font-weight: bold;
    font-style: italic;
    float: left;

    &-line {
      border-top: 0.1rem solid $grey-2;
      display: block;
      margin: .5rem auto .5rem 0;
      width: 3rem;
      text-align: left;
    }

    span {
      padding-left: 2rem;
      line-height: 4rem;
    }
  }

  b {
    font-size: 1rem;
  }


}

footer {
  font-family: $monospaced;
  padding-bottom: 10rem;
}


  .cobol {
    float: right;
    margin-right: 0;
 }

  .text_left {
    text-align: left;
  }

  span {
    color: $default-color;
    font-size: .8rem;
  }

.float_left {
  float: left;
}

.float_right {
  float: right;
}
